In [233]:
# feature engineering

In [234]:
import pandas as pd

In [235]:
df=pd.read_csv('C:/Users/swapn/Loan-Approval-Prediction/data/Loan_Approval_Prediction.csv')

In [236]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [237]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [238]:
# 1) handle missing value
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].median())

In [239]:
# bining
df['ApplicantIncome_Group']=pd.cut(df['ApplicantIncome'],bins=5)

In [240]:
# log transformation
import numpy as np
df['LoanAmount_log']=np.log1p(df['LoanAmount'])

In [241]:
# interaction feature 
df['TotalIncome']=df['ApplicantIncome'] + df['CoapplicantIncome']

In [242]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,ApplicantIncome_Group,LoanAmount_log,TotalIncome
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.859812,5849.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,"(69.15, 16320.0]",4.859812,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.204693,3000.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.795791,4941.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.955827,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,"(69.15, 16320.0]",4.276666,2900.0
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,"(69.15, 16320.0]",3.713572,4106.0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",5.537334,8312.0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",5.236442,7583.0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,"(69.15, 16320.0]",4.897840,4583.0

In [243]:
# encoding and scaling

In [244]:
# # encoding 
# # label Encoding 
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()
# df['Education']=le.fit_transform(df['Education'])

In [245]:
# # one hot encoding 
# df[['Education','Gender','Married']]=pd.get_dummies(df[['Education','Gender','Married']],drop_first=True).astype(int)

In [246]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,ApplicantIncome_Group,LoanAmount_log,TotalIncome
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.859812,5849.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,"(69.15, 16320.0]",4.859812,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.204693,3000.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.795791,4941.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",4.955827,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,"(69.15, 16320.0]",4.276666,2900.0
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,"(69.15, 16320.0]",3.713572,4106.0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",5.537334,8312.0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,"(69.15, 16320.0]",5.236442,7583.0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,"(69.15, 16320.0]",4.897840,4583.0

In [247]:
# # scaling
# from sklearn.preprocessing import StandardScaler
# scaler=StandardScaler()
# X_train_scaled=scaler.fit(X_train)
# X_test_scaled=scaler.transform(X_test)

In [248]:
df['Loan_Status']=le.fit_transform(df['Loan_Status'])

In [249]:
X=df[['CoapplicantIncome','ApplicantIncome']]
y=df['Loan_Status']

In [250]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [251]:
# # scaling
# from sklearn.preprocessing import StandardScaler
# scaler=StandardScaler()
# X_train_scaled=scaler.fit(X_train)
# X_test_scaled=scaler.transform(X_test)

In [252]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,ApplicantIncome_Group,LoanAmount_log,TotalIncome
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,1,"(69.15, 16320.0]",4.859812,5849.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0,"(69.15, 16320.0]",4.859812,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1,"(69.15, 16320.0]",4.204693,3000.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1,"(69.15, 16320.0]",4.795791,4941.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1,"(69.15, 16320.0]",4.955827,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,1,"(69.15, 16320.0]",4.276666,2900.0
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,1,"(69.15, 16320.0]",3.713572,4106.0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,1,"(69.15, 16320.0]",5.537334,8312.0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,1,"(69.15, 16320.0]",5.236442,7583.0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,0,"(69.15, 16320.0]",4.897840,4583.0

In [253]:
# pipe line

In [254]:
# pipeline for use seperate num,cat column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [256]:
# Pipeline 
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

num_feature=['CoapplicantIncome','ApplicantIncome']
cat_feature=['Gender', 'Married', 'Education']

preprocess=ColumnTransformer([
    ('num',StandardScaler(),num_feature),
    ('cat',OneHotEncoder(drop=True),cat_feature)
])

model=Pipeline([
    ('preprocess',preprocess),
    ('classifier',LogisticRegression())
])
model.fit(X_train,y_train)

ValueError: A given column is not a column of the dataframe